**/.git
**/.github
**/.gitignore
**/.gitattributes
**/.editorconfig
**/.idea
**/.vscode
**/.fleet
**/coverage
**/.aws
**/.ssh
Dockerfile
README.md
docker-compose.yml
sqlite.db
.pre-commit-config.yaml
**/.DS_Store
**/venv
**/.venv
**/env
**/.env
**/.envs
